
    body{
        background-image: linear-gradient(to top ,darkgray,white);

         }

    header{
        text-align: center;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        text-decoration: ;
        }

    #ftlogo{
                
            height: 150px;
             width: 100%;

             }
    h2{
        text-align: center;
        text-decoration: underline;
                
         } 
   

    i{
        color:red;
        
          
    }

    #ftcurio{
             height: 125px;
             width : 124px;
                    
                }
    ul{
                   
        display: inline-block;
        font-family:fantasy;
        vertical-align: auto;
                }



    

